<!doctype html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Home</title>
  <link rel="shortcut icon" href="source/img/logo.ico">
  <link rel="stylesheet" href="source/css/style.css">
</head>

<body>
  <div class="home align-items-sm-center">

  </div>


  <header>
    <div class="mb-0">
      <img src="source/img/encabezado1.png" width="100%" alt="" height="150">
      <div class="button">

      </div>
    </div>

  </header>
</body>
<body>
  <div class="home">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

    <div class="container text-end">
      <form action="/" method="GET">
        <input class="btn btn-primary" type ="submit" value="Cerrar Sesion">
      </form>
      
      <div class="row">

        <div class="col-md-4 align-items-sm-start">

          <!--Fotografia de la persona-->
          <div class="text-end">
            <img src="source/img/logo.png" width="150" alt="">
          </div>

          <!--firma de la persona-->
          <div class="text-center">
            <img src="source/img/logo.png" width="150" alt="">
          </div>

          <!--Logo TSE-->
          <div class="text-start">
            <img src="source/img/tse.png" width="400" alt="">
          </div>
        </div>

        <div class="col align-items-sm-center">
          <!--Informacion personal del usuario-->
          <h2 class="fw-bold text-center py-5">Información Personal de Usuario</h2>
            <label class="estilo">Nombre</label>
          
          <div class="div-1">
            <label for="floatingTextarea">
              <%= name %>
            </label>
          </div>
          <label for="">DPI</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= dpi %>
            </label>
          </div>
          <label for="">Fecha Nacimiento</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= birthday %>
            </label>
          </div>
          <label for="">Direccion</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= address %>
            </label>
          </div>
          <label for="">Municipio</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= mpio %>
            </label>
          </div>
          <label for="">Departamento</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= depto %>
            </label>
          </div>

        </div>
        <div class="col align-items-sm-end">
          <!--Informacion del centro de votacion-->
          <h2 class="fw-bold text-center py-5">Información del Centro de Votación 2023</h2>
          <label for="">Departamento</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= nDpto %>
            </label>
          </div>
          <label for="">Lugar de votacion</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= place_votation %>
            </label>
          </div>
          <label for="">Libro</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= book %>
            </label>
          </div>
          <label for="">Mesa</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= table %>
            </label>
          </div>
          <label for="">Pagina</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= page %>
            </label>
          </div>
          <label for="">Linea</label>
          <div class="div-1">
            <label for="floatingTextarea">
              <%= line %>
            </label>
          </div>
        </div>
      </div>

    </div>
</body>

<body>
  <br><br>
  <div class="mb-5 text-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123536.7461480083!2d-90.56260113464793!3d14.626209590197723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a180655c3345%3A0x4a72c7815b867b25!2sCdad.%20de%20Guatemala!5e0!3m2!1ses!2sgt!4v1666282942065!5m2!1ses!2sgt"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>

<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="source/img/footer.png" class="w-100" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Dev Solutions Software</a>
  </div>
  <!-- Copyright -->
</footer>

</html>